#container {
    max-width: 1024px;
    margin: auto;
    background-color: azure;
}

.header {
    text-align: center;

}

.img {
    margin-top: 2%;
}

#name {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#introduction {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 22px;
    line-height: 34px;

}

.social {
    display: flex;
    justify-content: center;
}

.button {
    background-color: azure;
    border: none;
    border-radius: 5px;
    margin: 4px 2px;
    padding: 10px 10px;
    font-size: 20px;
}


.box {
    border: 3px solid #F8F8FF;
    border-radius: 5px;
    height: 30px;
    background-color: #F0F8FF;

}

.content {
    border: 1px solid #F8F8FF;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 5%;
    width: 90%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    font-family: 'Nanum Gothic', sans-serif;

}

.content a {
    text-decoration: none;
}


.button1 {
    background-color: azure;
    color: black;
    border: solid grey;
    border-radius: 5px;
    margin: 4px 2px;
    padding: 10px 10px;
    font-size: 20px;
    width: 110px;
    cursor: pointer;
}

.button_drop {
    position: relative;
    display: inline-block;
}

.button_drop_content {
    display: none;
    position: absolute;
    background-color: azure;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.button_drop_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.button_drop_content a:hover {
    background-color: grey;
    color: white;
}

.button_drop:hover .button_drop_content {
    display: block;
}

.button_drop:hover .button1 {
    background-color: grey;
    color: white;

}


#title {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    text-align: left;
    margin-bottom: 5%;
}

#img {
    margin-left: 10%;
}

.footer {
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    margin-top: 3%;
    margin-left: 14%;
}

.img1 {
    float: left;
    padding: 10px 10px;
}

@media screen and(max-width: 800px) {
    content {
        flex-direction: column;
    }

    #menu {
        width: 100%;
    }

    .img {
        width: 100%;
    }

    #contact {
        width: 100%;
    }


}