#container {
    background-color: #87CEFA;
    max-width: 1024px;
    margin: auto;
}


.header {
    display: flex;
    justify-content: space-between;
}

#logo {
    padding: 10px;
}

#phone {
    text-align: right;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 22px;
    padding: 5px;
    margin: 10px;
}

.menu {
    font-family: 'PT Sans Narrow', sans-serif;
    display: flex;
    justify-content: space-between;


}

.menu a {
    color: black;
    text-align: center;
    font-size: 22px;
    padding: 8px 16px;
    text-decoration: none;
}

.feat {
    display: flex;
    justify-content: space-between;
}

#feat1,
#feat2,
#feat3,
#feat4 {
    margin: 3%;
    border: 2px solid white;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    line-height: 26px;
    font-size: 20px;
    padding: 10px;
    width: 23%;
}