#container {
    background-color: #87CEFA;
    max-width: 1024px;
    margin: auto;
}


.header {
    display: flex;
    justify-content: space-between;
}

#logo {
    padding: 10px;
}

#phone {
    text-align: right;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 22px;
    padding: 5px;
    margin: 10px;
}

.menu {
    font-family: 'PT Sans Narrow', sans-serif;
    display: flex;
    justify-content: space-between;


}

.menu a {
    color: black;
    text-align: center;
    font-size: 24px;
    padding: 8px 16px;
    text-decoration: none;
}

.slide {
    display: none;
}

#title {
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    margin-bottom: 1px;
}

.feat {
    display: flex;
    justify-content: space-between;
}

#feat1,
#feat2,
#feat3,
#feat4 {
    margin: 3%;
    border: 2px solid white;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    line-height: 26px;
    font-size: 20px;
    padding: 10px;
    width: 23%;
}

.row {
    display: flex;
    justify-content: space-between;
}

#about {
    margin-top: 10%;
    margin-left: 60px;
    margin-right: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
}

#text {
    font-family: 'PT Sans Narrow', sans-serif;
    border: 0px solid white;
    font-size: 24px;
    width: 60%;
    padding: 15px;
    line-height: 32px;
}

.sidebar {
    margin-top: 20px;
    margin-left: 20px;
    width: 20%;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: left;
    font-size: 20px;
    border: 0px;
}

.sidebar a {

    text-align: center;
    font-size: 20px;
    padding: 12px 12px;
    line-height: 35px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: white;
    color: black;
}


.footer {
    border: 1px solid black;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    font-size: 20px;

}