.header {
    display: flex;
    justify-content: space-between;
}

#menu {
    margin-top: 10px;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#menu a {
    text-decoration: none;
    padding: 14px 16px;
}

#img {
    width: 100%;
    height: 600px;
}

#icon {
    border-radius: 50%;
}

#title {
    position: absolute;
    top: 35%;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 26px;
}

#subtitle {
    font-size: 18px;
    word-spacing: 30px;
}

.author {
    position: fixed;
    bottom: 50px;
}