.container {
    position: relative;
}

.header {
    position: relative;
    background-image: url("../img/shape3.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    display: grid;
    grid-template-areas:
        'title title title menu menu menu'
        'icon content1 content1 content1 img1 img1'
        'mouse mouse mouse mouse mouse mouse';
}

.title {
    grid-area: title;
    display: flex;
    position: absolute;
    left: 160px;
}

.menu {
    grid-area: menu;
    position: absolute;
    top: 40px;
    right: 90px;

}

.menu a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 14px 14px;
    font-size: 14px;
}


.icon {
    grid-area: icon;
    position: absolute;
    top: 280px;
    left: 70px;
}


.content1 {
    grid-area: content1;
    position: absolute;
    top: 140px;

}

.img1 {
    grid-area: img1;
    position: relative;
    top: 70px;
    left: 260px;
    width: 400px;

}

#title1 {
    font-family: 'Roboto', sans-serif;
    color: #404858;
    margin-bottom: 1px;
    font-weight: 400;
}

#title2 {
    font-family: 'Roboto', sans-serif;
    color: #42495b;
    font-size: 58px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: 700;
}

#text1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 1px;
    color: #51545d;
}

.button {
    background-image: url("../img/rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    padding: 8px 16px;
}

.mouse {
    grid-area: mouse;
    height: 70px;
}

#mouse_icon {
    border: 15px solid white;
    border-color: white;
    border-radius: 46%;
    position: absolute;
    left: 50%;
    box-shadow: 0 5px 3px 3px #ede7e7;
}

.biography {
    display: flex;
}

.img2 {
    margin: auto;

}

.content2 {
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
}

#title3 {
    color: #8681d2;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

#title4 {
    color: #42495b;
    margin-top: 10px;
    margin-bottom: 10px;
}

#text2 {
    color: #51545d;
}