.header {
    position: relative;
    background-image: url("../img/shape3.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    display: grid;
    grid-template-areas:
        'icon title title menu menu menu'
        'icon content1 content1 content1 img1 img1'
        'mouse mouse mouse mouse mouse mouse';

}

.title {
    grid-area: title;
    display: flex;
    position: absolute;
    left: 0;
}

.menu {
    grid-area: menu;
    position: absolute;
    top: 40px;
    right: 140px;

}

.menu a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 14px 14px;
    font-size: 14px;
}


.icon {
    grid-area: icon;
    position: absolute;
    top: 280px;
    left: 70px;
}


.content1 {
    grid-area: content1;
    position: absolute;
    top: 140px;
}

.img1 {
    grid-area: img1;
    display: flex;
    justify-content: center;
    margin-top: 80px;

}

#img_group {
    height: 400px;
}

#title1 {
    font-family: 'Roboto', sans-serif;
    color: #404858;
    margin-bottom: 1px;
    font-weight: 400;
}

#title2 {
    font-family: 'Roboto', sans-serif;
    color: #42495b;
    font-size: 58px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: 700;
}

#text1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 1px;
    color: #51545d;
}

.button {
    background-image: url("../img/rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 14px;
    border-radius: 20px;
    padding: 8px 16px;
}

.mouse {
    grid-area: mouse;
    height: 70px;
}

#mouse_icon {
    border: 15px solid white;
    border-color: white;
    border-radius: 46%;
    position: absolute;
    left: 50%;
    box-shadow: 0 5px 3px 3px #ede7e7;
}

.biography {
    display: flex;
    justify-content: space-around;
    background-image: url("../img/background2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: grid;
    grid-template-areas:
        'img2 img2 img2 content2 content2 content2';
}

.img2 {
    grid-area: img2;
    margin: auto;

}

.content2 {
    grid-area: content2;
    margin: auto;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
}

.title3 {
    color: #8681d2;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

.title4 {
    color: #42495b;
    margin-top: 10px;
    margin-bottom: 10px;
}

#text2 {
    color: #51545d;
}

.service {
    font-family: 'Roboto', sans-serif;
    padding: 100px;
    display: grid;
    grid-template-areas:
        'service_title service_title service_title service_title service_title service_title'
        'box_container box_container box_container box_container box_container box_container';
}

.service_title {
    grid-area: service_title;
    margin-left: 90px;
}


.box_container {
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: box_container;

}

.row1,
.row2 {
    display: flex;
    justify-content: space-around;
    color: #51545d;
    margin-top: 60px;
    margin-bottom: 80px;

}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    width: 220px;
    height: 260px;
    padding: 12px 14px;
    box-shadow: 0 3px 5px 5px #f4f4fc;
    position: relative;
}

.box_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button1 {
    background-image: url("../img/rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 8px;
    border: none;
    border-radius: 20px;
    padding: 4px 12px;
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.box_text {
    font-size: 10px;
}

.pricing {
    background-color: #eceaff;
    font-family: 'Roboto', sans-serif;
    padding: 20px 100px 50px 100px;
    display: grid;
    grid-template-areas:
        'pricing_title pricing_title pricing_title pricing_title pricing_title pricing_title'
        'pricing_box pricing_box pricing_box pricing_box pricing_box pricing_box';
}

.pricing_title {
    grid-area: pricing_title;

    margin-bottom: 30px;
    padding: 12px 12px;
    text-align: center;
}

.pricing_box {
    grid-area: pricing_box;
    display: flex;
    justify-content: space-around;

}

.pricing_box1,
.pricing_box2,
.pricing_box3 {
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    width: 220px;
    height: 260px;
    padding: 12px 14px;
    box-shadow: 0 3px 5px 5px #f4f4fc;
    position: relative;
    margin-bottom: 80px;

}

.button2 {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid blue;
    border-radius: 20px;
    padding: 8px 16px;
    position: absolute;
    left: 30%;

}

.button2:hover {
    background-image: url("../img/rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border: none;
}


.pricing_title1,
.pricing_title2,
.pricing_title3 {
    font-size: 20px;
    text-align: center;
    color: #42495b;
    margin-bottom: 50px;
}

.pricing_text1,
.pricing_text2,
.pricing_text3 {
    font-size: 12px;
    text-align: center;
    color: #51545d;
    margin-bottom: 30px;
}

.pricing_tag1,
.pricing_tag2,
.pricing_tag3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(3, 3, 202);
    font-size: 18px;
    margin-bottom: 30px;
}

.footer {
    display: grid;
    grid-template-areas:
        'searchbar searchbar searchbar searchbar searchbar searchbar'
        'contact_bar contact_bar contact_bar contact_bar contact_bar contact_bar';
}

.searchbar {
    grid-area: searchbar;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

#subtitle {
    color: #42495b;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 12px;

}

.search_button {
    display: flex;
    justify-content: center;


}

.searchbar input[type=text] {
    font-size: 10px;
    border: 0px solid #ccc;
    padding: 10px 160px 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #f6f7fb;
    box-shadow: 0 3px 5px 5px #f4f4fc;
    opacity: 0.8;
}

.subscribe {
    background-image: url("../img/rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 10px;
    padding: 6px 12px;
}

.contact_bar {
    grid-area: contact_bar;
    display: flex;
    justify-content: space-around;
    background-color: blue;
    margin-bottom: 40px;
}

#logo1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 8px;
    text-align: center;
}

#logo_text {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.icon2 {
    display: flex;
    justify-content: space-around;

}

.icon2_icon {
    padding: 2px 10px;
}

.row_title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
}

.quick_content,
.hour_content {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 10px;
    line-height: 22px;
}

.contact_column {
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 10px;
    line-height: 22px;
}