.container {
    position: relative;
}

.header {
    background-image: url("../img/shape3.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    display: grid;
    grid-template-areas:
        'title title title title menu menu menu'
        'icon content1 content1 content1 img1 img1 img1'
        'mouse mouse mouse mouse mouse mouse mouse';
}

#title {
    grid-area: title;
    display: flex;
    position: absolute;
    left: 10%;
}

#menu {
    grid-area: menu;
    position: absolute;
    right: 10%;
    top: 10%;
}

#menu a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 14px 14px;
    font-size: 14px;
}


#icon {
    grid-area: icon;
    position: absolute;
    top: 50%;
    left: 5%;
}


#content1 {
    grid-area: content1;
    position: absolute;
    top: 30%;
    left: 10%;
}

#img1 {
    grid-area: img1;
    margin-top: 15%;
    margin-left: 40%;
}

#title1 {
    font-family: 'Roboto', sans-serif;
    color: #404858;
    margin-bottom: 1px;
    font-weight: 400;
}

#title2 {
    font-family: 'Roboto', sans-serif;
    color: #42495b;
    font-size: 58px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: 700;
}

#text1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 1px;
    color: #51545d;
}

#button {
    background-color: #483fda;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 10px;
    padding: 8px 20px;

}