body {
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}

.container {
    max-width: 1440px;
    margin: auto;
    background: #251B37;
}

.header {
    background-color: #F4F9F9;
    display: flex;
    justify-content: space-around;
}

.logo {
    padding: 10px 0;
    background: #F4F9F9;

}

#logo_img {
    width: 80px;
}

.menu {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    padding: 32px 0;
    background: #F4F9F9;

}

.menu a {
    text-decoration: none;
    color: black;
    padding: 0 60px;
}

.menu .icon {
    display: none;
}

@media screen and (max-width:1320px) {
    .menu {
        padding: 25px 10px;
    }

    .menu a {
        font-size: 16px;
    }

    .logo {
        padding: 10px 0;

    }

    #logo_img {
        width: 60px;
    }
}

@media screen and (max-width: 1080px) {
    .menu a {
        padding: 0 40px;
    }
}

@media screen and (max-width: 900px) {
    .menu a {
        font-size: 14px;
        padding: 0 25px;
    }

}

@media screen and (max-width: 700px) {
    .menu a {
        padding: 0 15px;
    }

    #logo_img {
        width: 60px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        justify-content: space-between;
    }

    .menu a {
        display: none;
    }

    .menu a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .menu.responsive {
        position: relative;
    }

    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 540px) {

    .menu {
        padding: 15px 10px 10px 10px;
    }

    #logo_img {
        width: 40px;
    }
}

.about {
    margin: 40px 0;

}

.about_title {
    text-align: center;
    font-size: 26px;
    color: #F4F9F9;
    margin: 25px 0;
}

.about_text {
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding: 0 25px;
    color: #F4F9F9;
    line-height: 28px;
    font-weight: 200;
}

@media screen and (max-width: 1320px) {
    .about_title {
        font-size: 22px;
    }

    .about_text {
        font-size: 18px;
    }
}

@media screen and (max-width: 1080px) {
    .about_title {
        font-size: 20px;
    }

    .about_text {
        font-size: 16px;
    }
}

@media screen and (max-width: 840px) {
    .about_title {
        font-size: 18px;
    }

    .about_text {
        font-size: 14px;
        line-height: 22px;
    }
}

@media screen and (max-width: 640px) {
    .about_title {
        font-size: 14px;
    }

    .about_text {
        font-size: 12px;
        line-height: 18px;

    }
}


.flag {
    display: flex;
    justify-content: space-around;
    margin: 20px 50px;
}

#img1 {
    width: 500px;
    height: 230px;
    padding-right: 15px;
}

.flag_content,
.location_content {
    color: #F4F9F9;
}

#flag_title,
#location_title {
    text-align: center;
    font-size: 30px;
    margin: 15px 0;
}

#flag_text,
#location_text {
    text-align: center;
    font-size: 20px;
    color: #F4F9F9;
    line-height: 28px;
    font-weight: 200;
}

.location {
    display: flex;
    justify-content: space-around;
    margin: 40px 50px;
}

#img2 {
    width: 280px;
    height: 280px;
    padding: 15px 0 15px 20px;
}

@media screen and (max-width: 1320px) {

    #flag_text,
    #location_text {
        font-size: 18px;
    }
}

@media screen and (max-width: 1080px) {

    #flag_text,
    #location_text {
        font-size: 16px;
    }

    #img1 {
        width: 400px;
        height: 180px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 840px) {

    .flag,
    .location {
        flex-direction: column;
        text-align: center;
        margin: 20px 50px;
    }

    #img1 {
        margin: 0;
        padding: 0;
    }

    #img2 {
        margin: 0;
        padding: 0;
    }

    #flag_text,
    #location_text {
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {

    #flag_title,
    #location_title {
        font-size: 20px;
    }
}

@media screen and (max-width: 490px) {
    #img1 {
        width: 300px;
        height: 140px;
    }

    #img2 {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 400px) {
    #img1 {
        width: 200px;
        height: 90px;
    }
}

.history {
    background-color: #F4F9F9;
}

.history_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 80px;
}

#history_title {
    color: #251B37;
    font-size: 30px;
    margin: 60px 0 20px 0;
}

#history_text {
    font-size: 20px;
    color: #251B37;
    line-height: 28px;
    padding-bottom: 20px;
}

#img3 {
    width: 1180px;
    height: 800px;
    border-radius: 20px;
}

@media screen and (max-width: 1320px) {

    .history_content {
        margin: 0 40px;
    }

    #img3 {
        width: 1000px;
        height: 600px;
    }

    #history_text {
        font-size: 18px;
    }
}

@media screen and (max-width: 1050px) {
    #img3 {
        width: 800px;
        height: 480px;
    }

    #history_text {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 880px) {

    .history_content {
        margin: 0 30px;
    }

    #img3 {
        width: 600px;
        height: 300px;
    }

    #history_text {
        font-size: 14px;
    }
}

@media screen and (max-width: 660px) {
    #img3 {
        width: 400px;
        height: 220px;
    }

    #history_title {
        font-size: 20px;

    }
}

@media screen and (max-width: 460px) {
    #img3 {
        width: 280px;
        height: 140px;
    }
}

@media screen and (max-width: 330px) {
    #img3 {
        width: 240px;
        height: 140px;
    }
}

.culture {
    margin: 30px 80px;
}

#culture_title {
    color: #F4F9F9;
    font-size: 30px;
    margin-bottom: 20px;
}

#culture_text {
    color: #F4F9F9;
    text-align: left;
    font-size: 20px;
    line-height: 28px;
    font-weight: 200;
    padding: 20px 0 0 40px;
}

.culture_content1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.culture_content2 {
    text-align: center;

}

#img4 {
    width: 440px;
    height: 380px;
    border-radius: 20px;
}

#img5 {
    width: 1280px;
    height: 600px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
}

@media screen and (max-width:1380px) {
    #img5 {
        width: 1180px;
        height: 500px;
    }
}

@media screen and (max-width:1300px) {
    #img5 {
        width: 1000px;
        height: 500px;
    }

    #culture_text {
        font-size: 18px;
    }
}


@media screen and (max-width:1160px) {
    #img4 {
        width: 380px;
        height: 320px;
    }

    #img5 {
        width: 800px;
        height: 400px;
    }

    #culture_text {
        font-size: 16px;
    }
}

@media screen and (max-width:900px) {
    #img4 {
        width: 280px;
        height: 240px;
    }

    #img5 {
        width: 600px;
        height: 300px;
    }

    #culture_text {
        font-size: 14px;
        padding: 0 0 0 40px;
    }
}

@media screen and (max-width:800px) {
    .culture {
        margin: 0 40px;
    }

    #culture_title {
        text-align: center;
    }

    .culture_content1 {
        flex-direction: column;
        text-align: center;
    }

}

@media screen and (max-width:660px) {
    #culture_title {
        font-size: 20px;
    }

    #img5 {
        width: 400px;
        height: 200px;
    }
}

@media screen and (max-width:460px) {
    .culture {
        margin: 0 20px;
    }

    #img4 {
        width: 200px;
        height: 160px;
    }

    #img5 {
        width: 200px;
        height: 100px;
    }
}

.footer_container {
    background-color: #F4F9F9;
}

.footer_row1 {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.footer_logo {
    padding: 20px 0 20px 0;
}

#footer_img {
    width: 80px;
    height: 80px;
}

.footer_menu a {
    text-decoration: none;
    color: black;
}

.footer_about a {
    text-decoration: none;
    color: black;
}

.footer_socialmedia {
    padding-top: 25px;
}

.socialmedia {
    border: none;
    border-radius: 80px;
    background-color: black;
    padding: 8px 8px;
}

.footer_line {
    border-top: 1px solid black;
    width: 1240px;
    margin: auto;
}

.footer_privacy {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

#copyright {
    margin-left: 60px;
}

#terms {
    margin-right: 60px;
}

@media screen and (max-width: 1320px) {
    .footer_line {
        width: 900px;
    }
}

@media screen and (max-width: 900px) {
    .footer_line {
        width: 700px;
    }
}

@media screen and (max-width: 700px) {
    #footer_img {
        width: 40px;
        height: 40px;
    }

    .footer_menu,
    .footer_about,
    #copyright,
    #terms {
        font-size: 12px;
    }


    .footer_line {
        width: 560px;
    }
}

@media screen and (max-width: 600px) {
    .footer_line {
        width: 480px;
    }
}

@media screen and (max-width: 540px) {
    .footer_row1 {
        flex-direction: column;
        text-align: center;
        padding: 25px 0;
    }

    .footer_menu,
    .footer_about {
        padding: 20px 0;
    }

    .footer_privacy {
        flex-direction: column;
        text-align: center;
    }

    #copyright,
    #terms {
        margin: 15px 0;
    }
}

@media screen and (max-width: 480px) {
    .footer_line {
        width: 400px;
    }
}

@media screen and (max-width: 410px) {
    .footer_line {
        width: 320px;
    }
}

@media screen and (max-width: 340px) {
    .footer_line {
        width: 240px;
    }
}