#contact_title {
    text-align: center;
    color: #F4F9F9;
    margin: 40px 0;
    font-size: 40px;
}

.map-responsive {

    overflow: hidden;
    padding-bottom: 45%;
    position: relative;
    height: 0;

}

.map-responsive iframe {

    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;

}

.comment_box {
    padding: 40px 40px;
}

.form {
    background-color: #F4F9F9;
    color: #251B37;
    border: none;
    padding: 20px 40px;
}

#comment_title {
    font-size: 26px;
    margin-bottom: 5px;
}

.name {
    display: flex;
    justify-content: space-evenly;
}

.fname {
    border: none;
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
    background-color: #251B37;
    color: #F4F9F9;
    width: 100%;
    margin-right: 10px;

}

.lname {
    border: none;
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
    background-color: #251B37;
    color: #F4F9F9;
    width: 100%;
}

.email,
.comment_submit {
    display: flex;
}

input[type=email] {
    border: none;
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
    background-color: #251B37;
    color: #F4F9F9;
    margin: 10px 0;
    width: 100%;
}

.comment_container {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
    background-color: #251B37;
    color: #F4F9F9;
}

input[type=submit] {
    background-color: #A4EBF3;
    color: #251B37;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}


@media screen and (max-width:810px) {
    #contact_title {
        font-size: 28px;
    }


}

@media screen and (max-width:600px) {
    #contact_title {
        margin: 20px 0;
    }


    #comment_title {
        font-size: 22px;
        margin-top: 20px;
    }

    .name {
        flex-direction: column;
    }

    .fname,
    .lname {
        width: auto;
        margin-bottom: 10px;
        margin-right: 0;
    }

    input[type=email] {
        margin-top: 0;
    }

    input[type=submit] {
        font-size: 10px;

    }


}

.contact_way {
    padding: 20px 40px 40px 40px;
    display: flex;
    justify-content: space-around;
}

.way1_box {
    background-color: #F4F9F9;
    color: #251B37;
    padding: 40px 20px;
    width: 100%;
    margin-right: 10px;
    text-align: center;
}

.way1_box a,
.way2_box a {
    text-decoration: none;
    color: #251B37;
}

.way1_box a:hover,
.way2_box a:hover {
    text-decoration: underline;
}



.way2_box {
    background-color: #F4F9F9;
    color: #251B37;
    padding: 40px 20px;
    width: 100%;
    text-align: center;

}

@media screen and (max-width: 600px) {
    .contact_way {
        flex-direction: column;
    }

    .way1_box,
    .way2_box {
        width: auto;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 300px) {
    input[type=submit] {
        font-size: 8px;
    }

    input[type=submit] {

        padding: 8px 10px;

    }

    #map_img {
        width: 100%;
        height: 200px;
    }
}