body {
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}

.container {
    max-width: 1440px;
    margin: auto;
    background: #251B37;
    position: relative;
}

.header {
    background-color: #F4F9F9;
    display: flex;
    justify-content: space-around;
}

.logo {
    padding: 10px 0;
    background: #F4F9F9;
}

#logo_img {
    width: 80px;
}

.menu {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    padding: 32px 0;
    background: #F4F9F9;

}

.menu a {
    text-decoration: none;
    color: black;
    padding: 0 60px;
}

.menu .icon {
    display: none;
}

.img {
    height: 810px;
}

#img1 {
    width: 100%;
    height: 810px;
}

#title {
    position: relative;
    top: -520px;
    width: 100%;
    color: #F4F9F9;
    text-align: center;
    font-size: 38px;
}

.introduction {
    text-align: center;
    color: #F4F9F9;
    font-size: 24px;

}

.text1 {
    text-align: center;
    color: #F4F9F9;
    border: 0px;
    width: 1280px;
    margin: auto;
    font-size: 20px;
    line-height: 28px;
    word-spacing: 2px;
    font-weight: 200;
}

.map_row {
    display: flex;
    justify-content: space-around;
}

#map {
    margin: 40px 0 80px 80px;
    border: 5px solid black;
    width: 480px;
    height: 400px;
}

#text2 {
    text-align: center;
    margin: 140px 120px;
    color: #F4F9F9;
    font-size: 20px;
    line-height: 28px;
    word-spacing: 2px;
    font-weight: 200;
}

#button1 {
    background-color: #FFECEF;
    border-radius: 6px;
    font-size: 16px;
    padding: 12px 14px;
    margin-top: 14px;
}

.place {
    background-color: #F4F9F9;
}

#place_title {
    margin-left: 60px;
    padding-top: 30px;
    font-size: 40px;
}

.place_row {
    display: flex;
    justify-content: space-around;
}

.place_location1 {
    padding-bottom: 20px;

}

.place1 {
    border: none;
    background-color: white;
    color: black;
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
    border-radius: 20px;
    padding: 5px 0;

}

.place2 {
    border: none;
    background-color: white;
    color: black;
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
    border-radius: 20px;
    padding: 5px 0;


}

.place3 {
    border: none;
    background-color: white;
    color: black;
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
    border-radius: 20px;
    padding: 5px 0;
}

.place_img {
    border-radius: 40px;
    width: 440px;
    height: 500px;
}


.place_text {
    text-align: center;
    margin: 0;
    font-size: 18px;
}

.place_button {
    text-align: right;
    padding-bottom: 20px;
    padding-right: 20px;
}

#button2 {
    background-color: #FFECEF;
    border-radius: 6px;
    font-size: 16px;
    padding: 12px 14px;

}


#food_title {
    text-align: center;
    color: #F4F9F9;
    padding: 20px 0;
}

.food_box {
    display: flex;
    justify-content: space-around;
    background-color: #F4F9F9;
    width: 1320px;
    margin: auto;
    padding: 30px 0;
}

.food_img {
    border-radius: 20px;
    width: 500px;
    height: 280px;
}

.food_name1 {
    border: none;
    background-color: black;
    color: #F4F9F9;
    border-radius: 20px;
    width: 200px;
    margin: auto;
    position: relative;
    top: 15px;
}

.food_name2 {
    border: none;
    background-color: black;
    color: #F4F9F9;
    border-radius: 20px;
    width: 300px;
    margin: auto;
    position: relative;
    top: 0;


}

.food_name3 {
    border: none;
    background-color: black;
    color: #F4F9F9;
    border-radius: 20px;
    width: 300px;
    margin: auto;
    position: relative;
    top: 0;

}

.food_text {
    margin: 0;
    padding: 5px 20px;
    font-size: 24px;
    text-align: center;
}

.food_container2 {
    margin: 50px 0 50px 0;
}

.food_box2 {
    border: none;
    background-color: #F4F9F9;
    width: 1320px;
    margin: auto;
    padding: 40px 0 20px 0;
}

.food3 {
    display: flex;
    justify-content: space-around;
}

.food4 {
    display: flex;
    justify-content: center;
}

.rice_name1 {
    border: none;
    background-color: black;
    color: #F4F9F9;
    border-radius: 20px;
    width: 200px;
    margin: auto;
    position: relative;
    top: 15px;
}


.rice_name2 {
    border: none;
    background-color: black;
    color: #F4F9F9;
    border-radius: 20px;
    width: 320px;
    margin: auto;
    position: relative;
    top: 10px;

}

.rice_name3 {
    border: none;
    background-color: black;
    color: #F4F9F9;
    border-radius: 20px;
    width: 300px;
    margin: auto;
    position: relative;
    top: 10px;
}

.rice_name4 {
    border: none;
    background-color: black;
    color: #F4F9F9;
    border-radius: 20px;
    width: 320px;
    margin: auto;
    position: relative;
    top: 10px;
}

.rice_text {
    margin: 0;
    padding: 5px 40px;
    font-size: 24px;
    text-align: center;
}

.more_button {
    text-align: center;
    position: relative;
    bottom: -40px;
}

#button3 {
    background-color: #FFECEF;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px 24px;
    right: 20px;
    bottom: 10px;
    color: black;
}

.footer_container {
    background-color: #F4F9F9;

}

.footer_row1 {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.footer_logo {
    padding: 20px 0 20px 0;
}

#footer_img {
    width: 80px;
    height: 80px;
}

.footer_menu a {
    text-decoration: none;
    color: black;
}

.footer_about a {
    text-decoration: none;
    color: black;
}

.footer_socialmedia {
    padding-top: 25px;
}

.socialmedia {
    border: none;
    border-radius: 80px;
    background-color: black;
    padding: 8px 8px;
}

.footer_line {
    border-top: 1px solid black;
    width: 1240px;
    margin: auto;
}

.footer_privacy {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

#copyright {
    margin-left: 60px;
}

#terms {
    margin-right: 60px;
}

@media screen and (max-width:1320px) {
    .menu {
        padding: 25px 10px;
    }

    .menu a {
        font-size: 16px;
    }

    .logo {
        padding: 10px 0;

    }

    #logo_img {
        width: 60px;
    }

    .introduction {
        font-size: 12px;
    }

    .text1 {
        width: 900px;
        font-size: 16px;
        line-height: 20px;
    }

    #map {
        margin: 40px 0 40px 100px;
        border: 2px solid black;
        width: 300px;
        height: 240px;
    }

    #text2 {
        width: 400px;
        margin: 100px 120px 100px 20px;
        font-size: 16px;
        line-height: 20px;
    }

    #button1 {
        font-size: 12px;
        padding: 12px 14px;
        margin-top: 14px;
    }

    .place_location {
        margin: 0 120px;
    }

    #place_title {
        font-size: 28px;
        margin-left: 60px;
        text-align: left;
    }

    .place_img {
        border-radius: 40px;
        width: 220px;
        height: 250px;

    }


    .food_box {
        width: 900px;
    }

    .food_box2 {
        width: 900px;
        padding: 40px 0 20px 0;
    }

    .food_img {
        border-radius: 20px;
        width: 250px;
        height: 140px;
    }

    .place1 {

        left: 40px;
        width: 140px;
    }

    .place2 {

        left: 40px;
        width: 140px;
    }

    .place3 {

        left: 40px;
        width: 140px;
    }

    .place_text {
        margin: 0;
        font-size: 14px;
    }

    #button2 {
        font-size: 10px;
        padding: 8px 12px;
    }

    .place_button {
        padding-right: 40px;
    }


    #food_title {
        font-size: 16px;
    }

    .food_name1 {
        width: 160px;
    }

    .food_name2 {
        width: 200px;
    }

    .food_name3 {
        width: 200px;
    }

    .food_text {
        font-size: 16px;
    }

    .rice_name1 {
        width: 160px;
    }

    .rice_name2 {
        width: 200px;
    }

    .rice_name3 {
        width: 200px;
    }

    .rice_name4 {
        width: 200px;
    }

    .rice_text {
        font-size: 16px;

    }

    .footer_line {
        width: 900px;
    }
}

@media screen and (max-width: 1080px) {
    .menu a {
        padding: 0 40px;
    }

    .img {
        height: 700px;
    }

    #img1 {
        height: 700px;
    }

    #title {
        top: -480px;
    }
}

@media screen and (max-width: 900px) {
    .menu a {
        font-size: 14px;
        padding: 0 25px;
    }

    #title {
        font-size: 24px;
        top: -380px;
    }

    .img {
        height: 600px;
    }

    #img1 {
        height: 600px;
    }

    .text1 {
        width: 680px;
        font-size: 14px;
    }

    #text2 {
        font-size: 14px;
    }

    .food_box {
        width: 680px;
    }

    .food_box2 {
        width: 680px;
    }

    .footer_line {
        width: 700px;
    }
}

@media screen and (max-width: 700px) {
    .menu a {
        padding: 0 15px;
    }

    #title {
        font-size: 18px;
        top: -200px;
    }

    #logo_img {
        width: 60px;
    }

    .introduction {
        font-size: 8px;
    }

    .text1 {
        width: 480px;
        font-size: 10px;
        line-height: 14px;
    }


    .map_row {
        flex-direction: column;
    }

    #map {
        margin: auto;
        border: 2px solid black;
        width: 260px;
        height: 200px;
    }

    #text2 {
        width: 400px;
        margin: auto;
        margin-top: 10px;
        font-size: 10px;
        line-height: 12px;
    }

    #button1 {
        font-size: 10px;
        padding: 10px 12px;
        margin-top: 14px;
    }

    .img {
        height: 300px;
    }


    #img1 {
        height: 300px;
    }


    #place_title {
        font-size: 20px;
        margin: 0;

        text-align: center;
    }

    .place_img {
        width: 160px;
        height: 200px;
    }

    .place1,
    .place2,
    .place3 {
        left: 30px;
        width: 100px;
    }

    .place_text {
        margin: 0;
        font-size: 12px;

    }

    .place_location1 {
        padding: 0;
        text-align: center;
    }

    #button1 {
        margin: 14px;
    }

    #button2 {
        font-size: 10px;
        padding: 10px 12px;
    }

    #food_title {
        font-size: 10px;
        padding: 0;
    }

    .food_box,
    .food_box2 {
        width: 540px;
    }

    .food_img {
        width: 180px;
        height: 90px;
    }

    .food_text {
        font-size: 12px;
    }

    .food_name1 {
        width: 120px;
    }

    .food_name2 {
        width: 160px;

    }

    .food_name3 {
        width: 160px;

    }

    .rice_name1 {
        width: 120px;
    }

    .rice_name2 {
        width: 160px;
    }

    .rice_name3 {
        width: 160px;
    }

    .rice_name4 {
        width: 160px;
    }

    .rice_text {
        font-size: 12px;

    }


    .more_button {
        bottom: -30px;
    }

    #button3 {
        font-size: 10px;
        padding: 8px 18px;

    }

    #footer_img {
        width: 40px;
        height: 40px;
    }

    .footer_menu,
    .footer_about,
    #copyright,
    #terms {
        font-size: 12px;
    }


    .footer_line {
        width: 560px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        justify-content: space-between;
    }

    .logo {
        padding: 10px 15px;
    }

    #logo_img {
        width: 40px;
    }

    .menu a {
        display: none;
    }

    .menu a.icon {
        float: right;
        display: block;
    }

    .footer_line {
        width: 480px;

    }
}

@media screen and (max-width: 600px) {
    .menu.responsive {
        position: relative;
        padding: 40px 10px 10px 10px;
    }

    .menu.responsive .icon {
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .menu.responsive a {
        float: none;
        display: block;
        text-align: right;


    }
}

@media screen and (max-width: 540px) {

    .menu {
        padding: 15px 10px 10px 10px;
    }

    #title {
        font-size: 16px;

    }

    .text1 {
        width: 300px;
    }

    #map {
        width: 180px;
        height: 140px;
    }

    #text2 {
        width: 300px;
    }

    #button1 {
        font-size: 8px;
        padding: 5px 6px;
    }

    .food_box,
    .food_box2 {
        width: 440px;
    }

    .place_row {
        flex-direction: column;
    }

    .place_img {
        width: 240px;
        height: 200px;
    }

    .place1,
    .place2,
    .place3 {
        left: 40%;
    }

    #place_title {
        padding-bottom: 15px;
    }

    #button2 {
        font-size: 8px;
        padding: 5px 6px;
    }

    .food_box {
        flex-direction: column;

    }

    .food1,
    .food2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .food_img {
        width: 240px;
        height: 180px;
    }

    .food_container2 {
        margin: 25px 0;
    }

    .food3 {
        flex-direction: column;
        text-align: center;

    }

    #button3 {
        font-size: 8px;
        padding: 5px 6px;
    }

    .footer_row1 {
        flex-direction: column;
        text-align: center;
        padding: 25px 0;
    }

    .footer_menu,
    .footer_about {
        padding: 20px 0;
    }

    .footer_privacy {
        flex-direction: column;
        text-align: center;
    }

    #copyright,
    #terms {
        margin: 15px 0;
    }

}

@media screen and (max-width: 480px) {
    .footer_line {
        width: 400px;
    }

    .food_box,
    .food_box2 {
        width: 400px;
    }
}

@media screen and (max-width: 410px) {
    .footer_line {
        width: 320px;
    }

    .place_img {
        width: 160px;
        height: 200px;
    }

    .place1,
    .place2,
    .place3 {
        left: 38%;
    }

    .food_box,
    .food_box2 {
        width: 340px;
    }

    .food_img {
        width: 180px;
        height: 90px;
    }
}

@media screen and (max-width: 340px) {
    .footer_line {
        width: 240px;
    }

    .food_box,
    .food_box2 {
        width: 280px;
    }
}


@media screen and (max-width: 285px) {
    .text1 {
        width: 270px;
    }

    #text2 {
        width: 270px;
    }
}