.place {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

#place_img {
    width: 1280px;
    height: 700px;
}

#place_title {
    text-align: center;
    color: #F4F9F9;
    margin: 40px 0;
    font-size: 40px;
}

.place_text {
    margin: 20px 40px;
}

#text {
    font-size: 20px;
    color: #F4F9F9;
    line-height: 28px;
    font-weight: 200;
}

@media screen and (max-width:1320px) {
    #place_img {
        width: 1000px;
        height: 500px;
    }
}

@media screen and (max-width:1020px) {
    #place_img {
        width: 780px;
        height: 400px;
    }

    #text {
        font-size: 16px;
    }
}

@media screen and (max-width:810px) {
    #place_img {
        width: 540px;
        height: 300px;
    }

    #text {
        font-size: 16px;
    }

    #place_title {
        font-size: 28px;
    }
}

@media screen and (max-width:570px) {
    #place_img {
        width: 320px;
        height: 160px;
    }

    #text {
        font-size: 14px;
    }
}

@media screen and (max-width:380px) {
    #place_img {
        width: 200px;
        height: 100px;
    }

    #text {
        font-size: 10px;
        line-height: 20px;
    }
}

.viewpoint {
    background-color: #F4F9F9;
}

.view_row1,
.view_row2 {
    display: flex;
    justify-content: space-around;

}

.view1,
.view2,
.view3,
.view4,
.view5,
.view6 {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #D9D9D9;
    margin: 25px 10px;
    padding: 20px 45px;
    width: 460px;
}

.view_img {
    text-align: center;
}

.img {
    width: 370px;
    height: 220px;
}

.view_title {
    display: flex;
    justify-content: space-between;
}

.titles {
    margin-top: 0;
    font-size: 21px;
}

.view_text {
    text-align: left;
    font-size: 20px;
    line-height: 28px;
}

.texts {
    margin-top: 5px;
}

.heart {
    width: 15px;
    height: 15px;
}

@media screen and (max-width: 1420px) {

    .view1,
    .view2,
    .view3,
    .view4,
    .view5,
    .view6 {
        width: 360px;
    }

    .img {
        width: 300px;
        height: 160px;
    }
}

@media screen and (max-width: 1210px) {
    .img {
        width: 260px;
        height: 160px;
    }
}

@media screen and (max-width: 1100px) {

    .view1,
    .view2,
    .view3,
    .view4,
    .view5,
    .view6 {
        margin: 25px 5px;
        padding: 20px 35px;
    }

    .img {
        width: 220px;
        height: 160px;
    }

    .titles {
        font-size: 18px;

    }

    .view_text {
        font-size: 16px;
    }

}

@media screen and (max-width: 900px) {

    .view_row1,
    .view_row2 {
        flex-direction: column;
        align-items: center;
    }

    .img {
        width: 360px;
        height: 240px;
    }
}

@media screen and (max-width: 420px) {
    .img {
        width: 280px;
        height: 160px;
    }

    .view1,
    .view2,
    .view3,
    .view4,
    .view5,
    .view6 {
        margin: 25px 5px;
        padding: 20px 30px;
        width: 280px;
    }

    .titles {
        font-size: 16px;
    }

    .view_text {
        font-size: 14px;

    }
}

@media screen and (max-width: 350px) {
    .img {
        width: 200px;
        height: 120px;
    }

    .view1,
    .view2,
    .view3,
    .view4,
    .view5,
    .view6 {
        margin: 25px 5px;
        padding: 20px 30px;
        width: 200px;
    }

    .titles {
        font-size: 14px;
    }

    .view_text {
        font-size: 12px;
        line-height: 20px;
        ;
    }
}


.gallery_title {
    color: #F4F9F9;
    text-align: center;
    font-size: 26px;
}

.gallery_row1,
.gallery_row2,
.gallery_row3 {
    display: flex;
    justify-content: space-around;
}

.gallery_img {
    width: 400px;
    height: 360px;
    border-radius: 5px;
}

.gallery_button {
    text-align: center;

}

.button {
    border-radius: 5px;
    background-color: #FFECEF;
    color: #251B37;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 5px 10px;
}

.button:hover {
    border-radius: 5px;
    background-color: #251B37;
    color: #FFECEF;
}

@media screen and (max-width: 1240px) {
    .gallery_img {
        width: 300px;
        height: 260px;
    }
}

@media screen and (max-width: 950px) {
    .gallery_img {
        width: 240px;
        height: 200px;
    }

    .gallery_title {
        font-size: 20px;
        margin: 40px 0;
    }
}

@media screen and (max-width: 740px) {

    .gallery_row1,
    .gallery_row2,
    .gallery_row3 {
        flex-direction: column;
        align-items: center;
    }

    .gallery_img {
        width: 300px;
        height: 260px;
    }

}

@media screen and (max-width: 340px) {

    .gallery_img {
        width: 260px;
        height: 200px;
    }

}