.box {
    display: flex;
}

.box div {
    flex: 1;
}

#body {
    margin: 0;
}

#pic {
    margin-top: 60px;
    margin-right: 50px;
    margin-left: -10px;
}

#border {
    margin-top: 100px;
    margin-right: -22px;
    margin-left: 50px;
    margin-bottom: 100px;
    padding-top: 25px;
    padding-right: 50px;
    border: 8px solid black;
    text-align: right;
}

#title {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;

}

#header1,
#header2,
#header3 {
    font-family: 'Poppins', sans-serif;
}

#content1,
#content2,
#content3 {
    font-family: 'Poppins', sans-serif;
}