.box {
    display: flex;
}

.box div {
    flex: 1;
}

#body {
    margin: 0;
}

#pic {
    margin-top: 60px;
    margin-right: 50px;
}

#border {
    margin-top: 100px;
    margin-right: -20px;
    margin-left: 50px;
    margin-bottom: 100px;
    padding-top: 60px;
    padding-right: 50px;
    border: 8px solid black;
    text-align: right;
}

#title {}