.box {
    display: flex;
    justify-content: center;
}

.box div {
    width: 200;

}

#border {
    border: 7px solid black;
    text-align: center;
    line-height: 75px;
    margin-top: -12px;
    padding-left: 40px;
    padding-right: 40px;

}

#title {
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
}

.picture {
    display: flex;
    justify-content: space-around;
}

#pic1 {
    margin-top: 120px;
    margin-left: 40px;

}