.box {
    display: flex;
    justify-content: center;
}

.box div {
    width: 200;

}

#border {
    border: 7px solid black;
    text-align: center;
    line-height: 75px;
    margin-top: -15px;
    padding-left: 60px;
    padding-right: 60px;

}

#title {
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
}

.picture {
    display: flex;
    justify-content: space-around;
}

#pic1 {
    margin-top: 150px;
    margin-left: 80px;
}

#pic2 {
    margin-top: 150px;
    margin-left: -10px;
    margin-right: -10px;
}

#pic3 {
    margin-top: 150px;
    margin-right: 80px;
}

#header1 {
    width: 280px;
    border: 0px solid white;
    word-break: keep-all;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-style: bold;
    font-size: 15px;
}

#paragraph1 {
    width: 280px;
    border: 0px solid white;
    word-break: keep-all;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    text-align: center;
}