.box {
    display: flex;
    justify-content: center;
}

.box div {
    width: 200;

}

#border {
    border: 7px solid black;
    text-align: center;
    line-height: 75px;
    margin-top: -12px;
    padding-left: 40px;
    padding-right: 40px;

}

#title {
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
}

.pic {
    display: flex;
    justify-content: space-around;
}

#pic {
    background-image: url("../img/pic2.png");
    background-image: url("../img/pic3.png");
    background-image: url("../img/pic4.png");
}